.dashboard-start {
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    
  }
  .detail {
    display: flex;
<<<<<<< HEAD
    justify-content: start; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    
  }

  .content {
    width: 300px;
    margin: auto;
=======
    justify-content: center; /* Horizontal centering */
    align-items: center; /* Vertical centering */
    
>>>>>>> 76eeea612567dce51cc2969bdb97d8b417e378f0
  }